name: Preview Release

on:
  pull_request:

permissions: {}

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install Dependencies
        run: npm ci --ignore-scripts

      - name: Publish to pkg.pr.new
        run: npx pkg-pr-new publish --commentWithSha ./packages/*
        timeout-minutes: 2
